{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

{% for item in plans %}
    <a target="_blank" href="{{ item.paymentLink }}">
        <button>{{item.name}}</button>
    </a>
{% endfor %} 

{% endblock %}
