{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

{% for item in plans %}
    <a target="_blank" href="{{ item.paymentLink }}">
        <button>{{item.name}}</button>
    </a>
{% endfor %} 

<a href="{{path('app_transcript')}}">
    <p>Formulaire Upload Transcript</p>
</a>

<a href="{{path('generate_questions')}}">
    <p>Page Generate Question</p>
</a>

{% endblock %}
